.weathercard{
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 20px;
    width: 75%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    min-height: 70vh;
    justify-content: space-evenly;
}

.weathercard-title, .weathercard-city{
    color: rgba(217, 211, 211, 0.597);
}


.weathercard-body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(205, 225, 242);
    gap: 0 50px;
}
.weathercard-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.weathercard-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weathercard-item{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.weathercard-item span:first-child{
    text-transform: capitalize;
    font-size: 23px;
    color: white;
}

.weathercard-item span:last-child{
    font-weight: 900;
    font-size: 23px;
}

.weathercard-temp{
    margin: 15px 0;
    color: rgb(205, 225, 242);
    font-size: 30px;
}

.weathercard-btn{
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: #ffffff9f;
    color: rgb(49, 83, 113);
    font-size: 20px;
    transition: transform .45s,
                box-shadow .25s;
}
.weathercard-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 13px;
    transition: transform .45s,
                box-shadow .25s;
}